<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Home</title>
<link rel="stylesheet" href="../../css/bootstrap.min.css" >
</head>
<body>
<div class="container">
	<div class="row">
		<h2>Update CurvePoint</h2>
	</div>

	<div class="row">
		<form action="#" th:action="@{/curvePoint/update/{id}(id=${curvePoint.id})}" th:object="${curvePoint}" method="post" class="form-horizontal" style="width: 100%">
			<!-- form to edit the values of CurvePoint, there are 2 buttons: Update data and Cancel to the Curve Point -->
			<div class="form-group">
				<label for="curveId">Curve Id</label>
				<input type="text" class="form-control"
					   id="curveId" placeholder="Curve Id"
					   th:field="*{curveId}" required>
				<div class="invalid-feedback"
					 th:if="${#fields.hasErrors('curveId')}"
					 th:errors="*{curveId}"></div>
			</div>
			<div class="form-group">
				<label for="term">Term</label>
				<input type="text" class="form-control" id="term" placeholder="Term"
					   th:field="*{term}" maxlength="30">
				<div class="invalid-feedback"
					 th:if="${#fields.hasErrors('term')}"
					 th:errors="*{term}"></div>
			</div>
			<div class="form-group">
				<div class="col-sm-12">
					<a class="btn btn-warning" th:href="@{/curvePoint/list}">Cancel</a>
					<input class="btn btn-primary" type="submit" value="Add CurvePoint">
				</div>
			</div>
		</form>
	</div>

</div>
</body>
</html>